.arco-form {
  .arco-form-item {
    .arco-checkbox {
      font-size: 13px;
    }

    .arco-radio {
      font-size: 13px;
    }

    &.arco-form-item-status-error {
      margin-bottom: 18px;

      .arco-form-item-extra {
        display: none;
      }
    }
  }
}
