.arco-form {
  .arco-form-item {
    .arco-checkbox {
      font-size: 13px;
    }

    .arco-radio {
      font-size: 13px;
    }

    &.arco-form-item-status-error {
      margin-bottom: 18px;

      .arco-form-item-extra {
        display: none;
      }
    }
  }
  // .arco-textarea-word-limit,.arco-input-word-limit {
  //   background-color: #fff;
  // }
  // .arco-textarea-wrapper.arco-textarea-scroll .arco-textarea-word-limit {
  //   right: 12px;
  // }
}
