@title-bottom-gap: 20px;
@title-top-gap: 30px;

.borderHover() {
  border: 1px solid var(--color-primary-light-2);
  box-shadow: 0 0 2px 0 var(--color-primary-light-2);
  transition: all 0.2s;
}
// thumb card
.thumbCard() {
  border: 1px solid var(--color-border-2);
  border-radius: 4px;
  box-shadow: 0 4px 4px var(--color-border-2);
  cursor: pointer;
  transition: all 0.2s var(--seal-transition-func);
}

.thumbCardHover() {
  color: rgb(var(--arcoblue-5));
  border: 1px solid rgb(var(--arcoblue-2));
  box-shadow: 0 4px 6px rgba(var(--arcoblue-6), 0.4);
  transition: all 0.3s var(--seal-transition-func);
}

// hoverable for button
.hoverable() {
  cursor: pointer;
  transition: all 0.2s;
}

.hoverableHover() {
  box-shadow: var(--seal-hoverable-shadow);
  transition: all 0.2s;
}

@keyframes heighMax {
  0% {
    height: 0;
  }

  100% {
    height: 'auto';
  }
}

@keyframes heighMin {
  0% {
    height: 'auto';
  }

  100% {
    height: 0;
  }
}

@keyframes lighting {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
