@title-bottom-gap: 15px;
@title-top-gap: 15px;

// thumb card
.thumbCard() {
  border: 1px solid var(--color-border-2);
  border-radius: 4px;
  box-shadow: 0 4px 4px var(--color-border-2);
  cursor: pointer;
  transition: all 0.2s var(--seal-transition-func);
}

.thumbCardHover() {
  color: rgb(var(--arcoblue-5));
  border: 1px solid rgb(var(--arcoblue-2));
  box-shadow: 0 4px 6px rgba(var(--arcoblue-6), 0.4);
  transition: all 0.3s var(--seal-transition-func);
}

// hoverable for button
.hoverable() {
  cursor: pointer;
  transition: all 0.2s;
}

.hoverableHover() {
  box-shadow: var(--seal-hoverable-shadow);
  transition: all 0.2s;
}
