@itemHeight: 60px;
@iconSize: 24px;
@titleSize: 12px;

.arco-menu {
  :deep(.arco-menu-inner) {
    padding: 0 0 4px 0;

    .arco-icon {
      margin-right: 0;
      font-size: 0;
    }

    .arco-menu-pop-header {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: @itemHeight;
      height: @itemHeight;
      padding-right: 0;
      padding-left: 0;
      overflow: hidden;
      font-size: 0;
      border-radius: 0 4px 4px 0;
      border-radius: 0;

      &:hover {
        background-color: #fff;
        transition: background-color 0.2s;
      }

      &.arco-menu-selected {
        background-color: var(--color-fill-2);
        background-color: #fff;

        // &::after {
        //   position: absolute;
        //   top: 0;
        //   right: 0;
        //   bottom: 0;
        //   display: inline-block;
        //   width: 4px;
        //   background-color: rgb(var(--arcoblue-5));
        //   content: '';
        // }
      }

      .arco-menu-title {
        font-weight: 500;
        font-size: @titleSize;
        line-height: 1.8;
        text-align: center;
        transform: scale(0.85);
      }
    }

    .arco-menu-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: @itemHeight;
      padding-right: 0;
      padding-left: 0;
      font-size: 12px;
      border-radius: 0;

      .arco-menu-indent {
        width: 30px !important;
      }

      .arco-menu-title {
        font-weight: 500;
        font-size: @titleSize;
        line-height: 1.8;
        text-align: center;
        transform: scale(0.85);
      }

      &:hover {
        background-color: #fff;
        transition: background-color 0.2s;
      }

      &.arco-menu-selected {
        background-color: #fff;

        // &::after {
        //   position: absolute;
        //   top: 0;
        //   bottom: 0;
        //   left: 0;
        //   display: inline-block;
        //   width: 4px;
        //   background-color: rgb(var(--arcoblue-5));
        //   content: '';
        // }
        .iconfont {
          color: rgb(var(--arcoblue-5));
          opacity: 1;
        }

        .arco-icon {
          color: rgb(var(--arcoblue-5));
          opacity: 1;
        }
      }

      .iconfont {
        color: var(--color-text-3);
        font-size: @iconSize;
        opacity: 1;
      }

      .arco-icon {
        color: var(--color-text-3);
        font-size: @iconSize;
        opacity: 1;
      }

      .title {
        font-weight: 500;
        font-size: @titleSize;
        line-height: 1.8;
        transform: scale(0.85);
      }
    }

    .arco-menu-icon {
      margin-right: 0;

      .iconfont {
        color: var(--color-text-3);
        font-size: @iconSize;
        opacity: 1;
      }

      .arco-icon {
        color: var(--color-text-3);
        font-size: @iconSize;
        opacity: 1;
      }
    }
  }
}
