.arco-form,
.arco-form.arco-form-layout-horizontal,
.arco-form.arco-form-layout-vertical {
  .arco-form-item-label-col {
    padding-right: 10px;
  }

  // .arco-input-wrapper {
  //   width: 360px;
  // }

  // .arco-select-view-single {
  //   width: 360px;
  // }
  .arco-form-item-label {
    color: var(--color-text-3);
    font-size: var(--font-size-small);
  }

  .arco-checkbox-label,
  .arco-radio-label {
    color: var(--color-text-2);
  }

  .arco-form-item.edit-footer-wrap {
    margin-bottom: 0 !important;

    .arco-form-item-content-wrapper {
      width: 100%;
    }
  }

  .arco-icon {
    &.label-item-icon {
      margin-left: 2px;
      color: var(--color-text-3);
      font-size: 14px;
      vertical-align: -3px;
    }
  }

  .optional-notes {
    margin-left: 3px;
    color: var(--color-text-4);
    font-size: var(--font-size-small);
  }

  .arco-form-item-extra .tips {
    color: var(--color-text-3);
    font-size: var(--font-size-small);
    line-height: 16px;
    opacity: 0.7;
  }

  .arco-form-item-message {
    text-align: left;
  }

  .arco-form-item-extra {
    margin-top: 0;
    line-height: 16px;
    text-align: left;
  }

  .arco-input-wrapper .arco-input.arco-input-size-medium {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    line-height: 2;
  }

  .arco-select-view-single.arco-select-view-size-medium .arco-select-view-input,
  .arco-select-view-single.arco-select-view-size-medium
    .arco-select-view-value {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    line-height: 2;
  }
}

.arco-form-item-status-error
  .arco-input-wrapper.ignore-error:not(.arco-input-disable),
.arco-form-item-status-error
  .arco-textarea-wrapper.ignore-error:not(.arco-textarea-disabled) {
  background-color: #fff;
  border-color: var(--color-border-2);
}

.arco-input-wrapper .arco-input.arco-input-size-medium {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  line-height: 2;
}

.arco-select-view-single.arco-select-view-size-medium .arco-select-view-input,
.arco-select-view-single.arco-select-view-size-medium .arco-select-view-value {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  line-height: 2;
}
