.arco-link {
  font-size: var(--font-size-small);
  border-radius: var(--border-radius-mini);
}

.arco-picker-size-medium input {
  font-size: var(--font-size-small);
}

.arco-btn {
  font-weight: 500;
}

.arco-textarea {
  font-weight: 500;
  font-size: var(--font-size-small);
}

.arco-card-size-medium {
  font-size: var(--font-size-small);
}

.arco-input-wrapper .arco-input-prefix {
  color: var(--color-text-3);
}

.arco-btn.arco-btn-size-medium {
  height: 36px;
}

@import url('./alert.less');
@import url('./form.less');
@import url('./tabs.less');
@import url('./pagination.less');
