.arco-result {
  .arco-result-subtitle {
    color: var(--color-text-3);
    font-size: var(--font-size-small);
  }

  .arco-result-icon-tip {
    color: var(--color-result-tip);
    background-color: var(--color-result-tip-bg);

    .iconfont {
      font-weight: 700;
      font-size: 16px;
    }

    .arco-icon {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
