.arco-tabs {
  .arco-tabs-tab {
    font-weight: 500;
    font-size: var(--font-size-normal);

    &:hover {
      background-color: var(--color-fill-1);

      .arco-tabs-tab-title {
        font-weight: 500;
      }
    }
  }

  .arco-tabs-nav-type-line .arco-tabs-tab {
    line-height: 2.5;

    &:hover .arco-tabs-tab-title::before {
      background-color: var(--color-fill-1);
    }
  }

  .arco-tabs-content {
    padding-top: var(--container-padding);
  }

  .arco-tabs-nav::before {
    height: 3px;
    border-radius: 2px;
  }

  .arco-tabs-nav-ink {
    height: 3px;
    border-radius: 2px;
  }

  &.arco-tabs-vertical {
    .arco-tabs.arco-tabs-type-line.arco-tabs-horizontal {
      .arco-tabs-content {
        padding-top: var(--container-padding);
      }
    }

    .arco-tabs-nav-vertical {
      .arco-tabs-nav-tab-list {
        max-height: 500px;
        overflow: auto;
      }

      .arco-tabs-tab {
        display: flex;
        padding: 8px 15px;

        > .arco-tabs-tab-title {
          width: 120px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &.arco-tabs-type-rounded {
    .arco-tabs-nav-type-rounded .arco-tabs-tab-active,
    .arco-tabs-nav-type-rounded .arco-tabs-tab-active:hover,
    .arco-tabs-nav-type-rounded .arco-tabs-tab:hover {
      background-color: var(--color-fill-1);
    }
  }

  &.arco-tabs-left.arco-tabs-vertical .arco-tabs-content {
    padding-left: 0;
  }

  &.page-line-tabs .arco-tabs-tab {
    margin-right: 30px;
    margin-left: 0;
    padding: 8px;
  }
}
