.graph-mount {
  .g6-component-tooltip {
    border: none;
    box-shadow: rgba(174, 174, 174, 0.5) 0 0 10px !important;

    .loggable-text {
      padding: 0 3px;
    }

    .inner-wrapper {
      .t-info {
        line-height: 20px;
      }

      .t-label {
        display: inline-block;
        width: max-content;
        margin-right: 5px;
        font-weight: 700;
      }

      .t-run {
        margin-top: 10px;
        font-weight: 700;
      }
    }
  }
}
