.custom-grid.arco-grid {
  .custom-grid-content {
    display: flex;

    .label {
      display: flex;
      flex-basis: fit-content;
      align-items: center;
      height: 30px;
      padding-right: 20px;
      padding-bottom: 8px;
      color: var(--color-text-3);
      font-size: 14px;
    }

    .value {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 12px 0;
      color: var(--color-text-1);
      font-weight: 400;
      white-space: pre-wrap;
      word-break: break-word;

      .btn-wrap {
        display: flex;
        align-items: center;
        margin-left: 5px;

        .arco-link {
          margin-left: 5px;
        }
      }
    }
  }
}
